/DashCharts.v9.js
/DashCharts.v7.js
/Dashboard - header.html
/Dashboard.v1.html
/Dashboard.v2.html
/Internacional.html
/Noticias.html
/PIBchart.js
/SotcksStyles.css - Internacional.css
/SotcksStyles.css - copia.css
/Vivienda.html
/charts.js
/charttesting.js
/css_pagina1_indicadores.css
/heads.html
/location.js
/pagina3_españa.js
/scroll.js
/test_scrape.py
/testing
/testing.html
/testtables.js
/DashCharts.v0.js
/DashCharts.v1.js
/DashCharts.v2.js
/DashCharts.v3.js
/DashCharts.v4.js
/DashCharts.v5.js
/DashCharts.v6.js
